server {
       listen $PORT ssl default_server;
       listen [::]:$PORT ssl;

       ssl_certificate $CERT_FILE;
       ssl_certificate_key $CERT_KEY;
       location / {
          proxy_http_version 1.1;
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_pass https://127.0.0.1:$INTERNAL_PORT;
       }
}
